In [66]:
import ccxt
import pandas as pd

In [67]:
# connect to the following exchange and set test net to true for sandbox mode

gemini = ccxt.gemini({
    'enableRateLimit': True,
    'apiKey': 
    'secret': 
})
gemini.set_sandbox_mode(True)

In [68]:
gemini.fetch_balance() # get the account balance

{'info': [{'type': 'exchange',
   'currency': 'USD',
   'amount': '100000.00',
   'available': '100000.00',
   'availableForWithdrawal': '100000.00'},
  {'type': 'exchange',
   'currency': 'BTC',
   'amount': '1000',
   'available': '1000',
   'availableForWithdrawal': '1000'},
  {'type': 'exchange',
   'currency': 'LTC',
   'amount': '20000',
   'available': '20000',
   'availableForWithdrawal': '20000'},
  {'type': 'exchange',
   'currency': 'ZEC',
   'amount': '20000',
   'available': '20000',
   'availableForWithdrawal': '20000'},
  {'type': 'exchange',
   'currency': 'BCH',
   'amount': '20000',
   'available': '20000',
   'availableForWithdrawal': '20000'},
  {'type': 'exchange',
   'currency': 'ETH',
   'amount': '20000',
   'available': '20000',
   'availableForWithdrawal': '20000'}],
 'USD': {'free': 100000.0, 'used': 0.0, 'total': 100000.0},
 'BTC': {'free': 1000.0, 'used': 0.0, 'total': 1000.0},
 'LTC': {'free': 20000.0, 'used': 0.0, 'total': 20000.0},
 'ZEC': {'free': 20000.0, 'used': 0.0, 'total': 20000.0},
 'BCH': {'free': 20000.0, 'used': 0.0, 'total': 20000.0},
 'ETH': {'free': 20000.0, 'used': 0.0, 'total': 20000.0},
 'free': {'USD': 100000.0,
  'BTC': 1000.0,
  'LTC': 20000.0,
  'ZEC': 20000.0,
  'BCH': 20000.0,
  'ETH': 20000.0},
 'used': {'USD': 0.0,
  'BTC': 0.0,
  'LTC': 0.0,
  'ZEC': 0.0,
  'BCH': 0.0,
  'ETH': 0.0},
 'total': {'USD': 100000.0,
  'BTC': 1000.0,
  'LTC': 20000.0,
  'ZEC': 20000.0,
  'BCH': 20000.0,
  'ETH': 20000.0}}

In [69]:
symbol = 'BTC/USD'
time = '15m'
def getData(symbol,time):
    """
    1504541580000, // UTC timestamp in milliseconds, integer
    4235.4,        // (O)pen price, float
    4240.6,        // (H)ighest price, float
    4230.0,        // (L)owest price, float
    4230.7,        // (C)losing price, float
    37.72941911    // (V)olume float (usually in terms of the base currency, the exchanges docstring may list whether quote or base units are used)
    """
    columns = ['Date','Open','High Price','Low Price','Close','Volume']
    df = pd.DataFrame(gemini.fetch_ohlcv(symbol=symbol,timeframe=time), columns=columns)
    df['Date'] = pd.to_datetime(df['Date'], unit='ms')
    return df

In [70]:
df = getData(symbol,time)

In [71]:
df['Change'] = df['Close'].diff(1)
df.dropna(inplace=True)
df['Gain'] = [x if x > 0 else 0 for x in df['Change']]
df['Loss'] = [x *-1 if x < 0 else 0 for x in df['Change']]
df['Avg_Gain'] = df['Gain'].rolling(window=14).mean()
df['Avg_Loss'] = df['Loss'].rolling(window=14).mean()
df['RS'] = df['Avg_Gain']/df['Avg_Loss']
df['RSI'] = 100 - 100/(1 + df['RS'])
df

,Date,Open,High Price,Low Price,Close,Volume,Change,Gain,Loss,Avg_Gain,Avg_Loss,RS,RSI
1,2022-07-30 21:00:00,24693.20,24693.20,24668.53,24693.20,13.609637,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,2022-07-30 21:15:00,24693.20,24693.20,24668.53,24693.20,13.609637,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,2022-07-30 21:30:00,24693.20,24693.20,24668.53,24693.20,13.609231,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,2022-07-30 21:45:00,24693.20,24693.20,24668.53,24693.20,12.718218,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5,2022-07-30 22:00:00,24693.20,24693.20,24668.53,24693.20,13.609231,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,2022-08-13 19:45:00,25095.99,25121.09,25095.99,25095.99,13.377424,0.0,0.0,0.0,5.378571,5.378571,1.000000,50.000000
1341,2022-08-13 20:00:00,25095.99,25121.09,25095.99,25121.09,13.377424,25.1,25.1,0.0,7.171429,5.378571,1.333333,57.142857
1342,2022-08-13 20:15:00,25121.09,25121.09,25095.99,25095.99,13.457118,-25.1,0.0,25.1,5.378571,7.171429,0.750000,42.857143
1343,2022-08-13 20:30:00,25095.99,25121.09,25095.99,25121.09,12.979353,25.1,25.1,0.0,7.171429,5.378571,1.333333,57.142857
1344,2022-08-13 20:45:00,25121.09,25121.09,25095.99,25095.99,4.379580,-25.1,0.0,25.1,7.171429,7.171429,1.000000,50.000000

{'id': '1971729917',
 'clientOrderId': '1660423880920',
 'info': {'order_id': '1971729917',
  'id': '1971729917',
  'symbol': 'btcusd',
  'exchange': 'gemini',
  'avg_execution_price': '25095.98',
  'side': 'sell',
  'type': 'exchange limit',
  'timestamp': '1660423880',
  'timestampms': '1660423880936',
  'is_live': True,
  'is_cancelled': False,
  'is_hidden': False,
  'was_forced': False,
  'executed_amount': '0.001',
  'client_order_id': '1660423880920',
  'options': [],
  'price': '25095.00',
  'original_amount': '1',
  'remaining_amount': '0.999'},
 'timestamp': 1660423880936,
 'datetime': '2022-08-13T20:51:20.936Z',
 'lastTradeTimestamp': None,
 'status': 'open',
 'symbol': 'BTC/USD',
 'type': 'limit',
 'timeInForce': 'GTC',
 'postOnly': False,
 'side': 'sell',
 'price': 25095.0,
 'stopPrice': None,
 'average': 25095.98,
 'cost': 25.09598,
 'amount': 1.0,
 'filled': 0.001,
 'remaining': 0.999,
 'fee': None,
 'trades': [],
 'fees': []}